/* Ensure the body and html take up 100% of the viewport height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Eliminate scrollability */
    background-color: black;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
}

/* General container styling */
.container {
    width: 90%; /* Full width */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Top container takes up 20% of the viewport height */
.top-container {
    height: 20vh;
}

/* Bottom container takes up 80% of the viewport height */
.bottom-container {
    height: 50vh;
}

/* Optional: Center text in the containers */
.bottom-container p {
    margin: 0;
    font-size: 3vw;
    color: #fff;
    text-align: center;
}

.top-container h1 {
    margin: 0;
    font-size: 10vw;
    color:#fff;
    text-align: center;
}

.close-container {
    height: 30vh;
}

/* Styling for the close button */
.close-button {
    width: 10vh;
    height: 10vh;
    position: absolute;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.close-button::before {
    content: "×"; /* Cross character */
    font-size: 10vw;
}